node_modules
.DS_Store
*.provisionprofile

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

/electron/dist
/electron/out
/electron/icon-build
/electron/build-resources
/electron/notes
/electron/ffmpeg
/electron/app*.log
/electron/main-ts-dist
/electron/common-ts-dist

tsconfig.*.tsbuildinfo